version: '3.8'

services:
  mariadb:
    image: mariadb:10.5
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: agricola
      MYSQL_USER: Admin
      MYSQL_PASSWORD: Admin123@
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: mariadb
      PMA_USER: Admin
      PMA_PASSWORD: Admin123@
    ports:
      - "8080:80"
    depends_on:
      - mariadb

volumes:
  mariadb_data: